* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: #18191a;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.approve-icon {
  color: #00c129;
  &:hover {
    color: #128d2d;
  }
}

.remove-icon {
  color: #e90606;
  &:hover {
    color:#a11616;
  }
}

.fullWidth {
  width: 100% !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}