.news {
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__search {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 8px 0px #909090;
    &__input {
      font-size: 18px;
      width: 100%;
      padding: 10px 40px;
      outline: none;
      border: none;
    }
    &__icon {
      position: absolute;
      width: 30px;
      height: 30px;
      left: 5px;
      top: 0;
      bottom: 0;
      margin: auto;
      fill:#d1d1d8;
      transition: fill .3s ease;
    }
    &:focus-within &__icon {
      fill: black;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 30%;
    &__title, &__text {
      outline: none;
      border: none;
      border-radius: 7px;
      margin-bottom: 10px;
      padding: 10px;
      box-shadow: 0 0 8px 0px #909090;
    }
    &__title {
      resize: vertical;
    }
    &__text {
      resize: vertical;
    }
    &__btn {
      padding: 10px;
      border-radius: 7px;
      box-shadow: 0 0 8px 0px #909090;
      font-size: 16px;
      font-weight: bold;
      background-color:#00c129;
      color: #fff;
      &:hover {
        background-color: #128d2d;
      }
    }
  }
  &__list {
    width: 68%;
  }
  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
    background-color:#fff;
    box-shadow: 0 0 8px 0px #909090;
    &__title {
      font-size: 22px;
      font-weight: bold;
    }
    &__text {
      padding-top: 20px;
    }
    &__date {
      font-size: 14px;
      color: #717171;
    }
    &__btn-group {
      margin-top: 20px;
    }
    &__btn--approve, &__btn--remove {
      width: 20px;
      margin-right: 12px;
      background: none;
    }
    &__btn--x {
      position: absolute;
      right: 20px;
      width: 20px;
      background: none;
    }
  }
}